﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>SmartDVB HTTP Channel Switcher Demo</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <style>
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SmartDVB Channel Switcher</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <!-- <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li> -->
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h1>SmartDVB Channel List</h1>
    </div>
    <div class="page-header">
        <h2>Current channel</h2>
        <h3 id="active-channel"></h3>
    </div>

    <p class="lead">Choose a channel to switch to</p>

    <p><input type="text" class="form-control" id="search-channel" /></p>
    <div class="list-group" style="margin-bottom: 0px; border-radius: 4px; border-bottom: 1px solid rgb(221, 221, 221); border-top: 1px solid rgb(221, 221, 221);">
        <div id="channel-list" class="list-group" style="overflow-y: scroll; margin-bottom: 0px; max-height: 500px;">
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">(c) Denis V / <a href="http://artprima.eu/">Artprima</a></p>
    </div>
</footer>

<script id="tpl-channels" type="text/x-handlebars-template">
    <%
        var sats = {};
        _.each(items, function(channel, key) {
            
    %>
            <%  if (sats[channel.satid] === undefined) { %>
                <% sats[channel.satid] = channel.satid; %>
                <a href="#" class="list-group-item" style="background-color: gray;">(<%- channel.satid %>)</a>
            <% } %>
            <a href="#channel-<%- channel.ckey %>" data-ckey="<%- channel.ckey %>" class="list-group-item"><%- channel.name %> (<%- channel.satid %>)</a>
    <%
        });
    %>
</script>

<script id="tpl-active-channel" type="text/x-handlebars-template">
    <%- channel.name %>
</script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script>
/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014 Twitter, Inc.
 * Licensed under the Creative Commons Attribution 3.0 Unported License. For
 * details, see http://creativecommons.org/licenses/by/3.0/.
 */

// See the Getting Started docs for more information:
// http://getbootstrap.com/getting-started/#support-ie10-width

(function () {
  'use strict';
  if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
    var msViewportStyle = document.createElement('style')
    msViewportStyle.appendChild(
      document.createTextNode(
        '@-ms-viewport{width:auto!important}'
      )
    )
    document.querySelector('head').appendChild(msViewportStyle)
  }
})();
</script>
<script>
    //search-channel
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    $(document).ready(function() {
        var channelsFull = [];
        var channelsFullBySat = [];
        var tplChannels = _.template($('#tpl-channels').text());
        var tplActiveChannel = _.template($('#tpl-active-channel').text());
        var debug = getParameterByName('_debug');

        $.ajax({
            url: debug + '/control/channels'
        }).done(function(data) {
            if (data && data.status == "success") {
                $('#channel-list').html(tplChannels({items: data.data.list}));
                channelsFull = data.data.list;
                channelsFullBySat = _.sortBy(channelsFull, 'satid');
            }
        });

        var updateActiveChannel = function() {
            $.ajax({
                url: debug + '/control/active-channel',
                method: 'GET',
                dataType: 'json'
            }).done(function(data) {
                $('#active-channel').html(tplActiveChannel({channel: data.data.channel})); 
            });
        };
        updateActiveChannel();


        $('#search-channel').on('input', function() {
            if ($(this).val().length > 0) {
                $('#channel-list').html(tplChannels({items: _(channelsFullBySat).filter(function(s){
                    return s.name.toLowerCase().indexOf($('#search-channel').val().toLowerCase()) > -1;
                })}));
            } else {
                $('#channel-list').html(tplChannels({items: channelsFullBySat})); 
            }
        });

        $('#channel-list').on('click', '.list-group-item', function() {
            $.ajax({
                url: debug + '/control/active-channel',
                method: 'POST',
                data: '{ ckey: ' + $(this).data('ckey') + '}',
                dataType: 'json'
            }).done(function(data) {
                if (data && data.status == "success") {
                    updateActiveChannel();
                }
            })
        });
    });
</script>
</body>
</html>
